<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redireciona para o diretório public
    RewriteRule ^(.*)$ public/$1 [L]

    # Configurações de diretório public
    <Directory /public>
        Options -Indexes
    </Directory>
</IfModule>
